<div class="layout-container">
  <div class="header">
    <div>Portfolios</div>
    <button class="btn-outline-dark" (click)="onNewPortfolio()">Create Portfolio</button>
  </div>
  <!-- legend-->
  <app-custom-legend *ngIf="allPortfoliosWithColor.length > 0" [data]="allPortfoliosWithColor"
    [onTrueHoverEvent]="onHoverTrueEmitSubject" [onFalseHoverEvent]="onHoverFalseEmitSubject"
    (onClickEvent)="onClickEmit($event)">
  </app-custom-legend>
  <div class="grid-container">
    <!-- portfolio allocations-->
    <div *ngIf="portfoliosLoaded" class="pie-chart-container">
      <h3>Portfolios</h3>
      <ngx-charts-pie-chart [results]="allPortfolios" [labels]="true" (select)="onPieSelect($event)"
        (activate)="onHover($event)" (deactivate)="onHoverFalse($event)" aria-hidden="false">
      </ngx-charts-pie-chart>
    </div>
    <!-- position allocations-->
    <div *ngIf="positionsLoaded" class="pie-chart-container">
      <h3>Positions</h3>
      <ngx-charts-pie-chart [results]="allPositions" [labels]="true">
      </ngx-charts-pie-chart>
    </div>
  </div>
  <!-- total wealth history chart-->
  <div class="line-chart-container">
    <ngx-charts-line-chart [results]="historyData" [curve]="curve" [gradient]="gradient" [xAxis]="showXAxis"
      [yAxis]="showYAxis">
    </ngx-charts-line-chart>
  </div>
</div>