.login-container {
  height: 100%;
  background-color: #383c54;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 280px;
  color: #ffffff;
  padding: 20px;
}

.t95 {
  margin: 0 auto;
  width: fit-content;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  padding-bottom: 3px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}

.title {
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 38px;
}

.input-container {
  margin-bottom: 40px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 20px;

  i {
    font-size: 38px;
    margin: auto;
    margin-right: 16px;
  }

  .actions {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 12px 18px;
    width: 100%;
  }

  .btn-actions {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #383c54;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 8px 20px rgba(46, 229, 157, 0.4);
    cursor: pointer;
  }

  .btn-actions:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-5px);
  }
}

.text {
  color: #8289b5;
  text-align: center;
  cursor: pointer;
}

.text:hover {
  font-weight: 600;
}

.password-hidden {
  -webkit-text-security: disc;
  font-family: text-security-disc;
}