.legend-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 5px;
}

@media (min-width: 495px) {
  .legend-container {
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 690px) {
  .legend-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio-card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(126, 123, 123);
  padding: 15px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 5px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0px 3px 3px #383c54;
}

.active-portfolio-card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(91, 91, 91);
  padding: 15px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
}

.portfolio-card:hover {
  background-color: rgb(91, 91, 91);
}

.title {
  display: flex;
  gap: 10px;
}

.box {
  width: 15px;
  height: 15px;
}