<swiper [config]="config" class="price-card-swiper">
  <ng-template *ngFor="let stock of stockData" swiperSlide>
    <div class="card-wrapper" [ngClass]="{'red-card-wrapper': stock.movementPoints < 0}">
      <p class="stock-name">{{stock.name}}</p>
      <p class="stock-price">{{stock.price}}</p>
      <div class="movement-container">
        <p class="movement-point">{{stock.movementPoints}}</p>
        <p class="movement-percentage">{{stock.movementPercentage}}</p>
      </div>
    </div>
  </ng-template>
</swiper>