<div class="portfolio-card-container">
  <h3>Portfolio Lists</h3>
  <div *ngFor="let portfolio of portfolioData">
    <div class="portfolio-card" [ngClass]="{ 'radius-collapsed': portfolio.isCollapsed }">
      <div [routerLink]="['/portfolio', portfolio.id]">
        <p>{{portfolio.name}}</p>
        <div class="inline-flex-container">
          <p *ngIf="showMoney">${{portfolio.total | number : '1.2-2'}}</p>
          <p class="red-text" [ngClass]="{'green-text': portfolio.movementAmount > 0}"><span
              *ngIf="showMoney">{{portfolio.movementAmount | number : '1.2-2'}}</span>
            ({{portfolio.movementPercentage}})</p>
        </div>
      </div>
      <!-- collapse -->
      <i *ngIf="portfolio.isCollapsed" class="bi bi-chevron-down collapse-btn"
        (click)="portfolio.isCollapsed = !portfolio.isCollapsed"></i>
      <i *ngIf="!portfolio.isCollapsed" class="bi bi-chevron-up collapse-btn"
        (click)="portfolio.isCollapsed = !portfolio.isCollapsed"></i>
    </div>
    <!-- collapsible block-->
    <div class="content" [collapse]="!portfolio.isCollapsed">
      <div class="table-container">
        <!-- Table -->
        <table mat-table [dataSource]="getTableData(portfolio.positions)">
          <!-- name Column -->
          <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let element" width="40%">
              <div>{{element.name}}</div>
              <div class="company-full-name">{{element.symbol}}</div>
            </td>
          </ng-container>
          <!-- movement_points Column -->
          <ng-container matColumnDef="movement_points">
            <td mat-cell *matCellDef="let element" width="20%">
              <div class="movement-points">{{element.movement_points}}</div>
            </td>
          </ng-container>
          <!-- price Column -->
          <ng-container matColumnDef="price">
            <td mat-cell *matCellDef="let element" width="20%">
              <div class="align-right">
                <div class="movement-card">
                  <div>{{element.price}}</div>
                  <div>{{element.movement_percentage}}</div>
                </div>
              </div>
            </td>
          </ng-container>
          <!-- Header -->
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>