.portfolio-card-container {
  margin-bottom: 15px;

  h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 6px;
  }
}

.content {
  overflow: hidden;
}


.portfolio-card {
  background-color: rgb(126, 123, 123);
  padding: 15px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-transition: border-radius 0.4s;
  transition: border-radius 0.4s;
}

.radius-collapsed {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.inline-flex-container {
  display: inline-flex;
  gap: 20px;
}

//portfolio stock list
.company-full-name {
  font-size: 10px;
  font-weight: 100;
}

.stock-price {
  font-size: 18px;
  margin: auto 0;
}

.movement-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100px;
  border-radius: 5px;
  background-color: green;

  padding: 2px 5px;

  p:first-child {
    font-size: 16px;
  }
}

//expand and collapse feature
.collapse-btn {
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 5px;
}

//position table
table {
  width: 100%;
  background-color: rgb(126, 123, 123);
  border-bottom: 0px solid transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table-container {
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
  overflow: hidden;
}

.mat-table td:last-child {
  padding-right: 15px;
}

.mat-table td:first-child {
  padding-left: 15px;
}