<div class="portfolio-card-container">
  <div class="flex-between-container">
    <h3>Portfolio List</h3>
    <i class="bi bi-plus-circle-dotted add-icon"></i>
  </div>
  <div class="portfolio-card" *ngFor="let portfolio of portfolioData">
    <p>{{portfolio.portfolioName}}</p>
    <div class="inline-flex-container">
      <p>${{portfolio.total}}</p>
      <p class="red-text" [ngClass]="{'green-text': portfolio.movementAmount > 0}">{{portfolio.movementAmount}}
        ({{portfolio.movementPercentage}}%)</p>
    </div>
  </div>
</div>