<div class="dialog-container">
  <h1 class="title">Add position</h1>
  <input class="input-outline" type="date" [(ngModel)]="position.date">
  <p>RWD change to horizontal table</p>
  <!-- option select with search -->
  <ng-select [items]="stocklist" [virtualScroll]="true" bindLabel="name" bindValue="id" placeholder="Select symbol"
    [(ngModel)]="position.symbol">
  </ng-select>
  <input class="input-outline" type="number" placeholder="Enter quantity..." [(ngModel)]="position.quantity">
  <input class="input-outline" type="number" placeholder="Enter cost..." [(ngModel)]="position.cost">
  <!-- <input class="input-outline" type="number" placeholder="Enter date..." [(ngModel)]="position.date"> -->
  <div class="btn-container">
    <button class="btn-outline" (click)="closeDialog('onCancel')">Cancel</button>
    <button class="btn-outline" (click)="onConfirm()" [disabled]="checkFields()">Confirm</button>
  </div>
</div>