<div class="dialog-container">
  <h1 class="title">Add position</h1>
  <p>change to horizontal table</p>
  <input class="input-outline" type="text" placeholder="Enter Symbol..." [(ngModel)]="data.symbol">
  <input class="input-outline" type="number" placeholder="Enter quantity..." [(ngModel)]="data.quantity">
  <input class="input-outline" type="number" placeholder="Enter cost..." [(ngModel)]="data.cost">
  <input class="input-outline" type="number" placeholder="Enter date..." [(ngModel)]="data.date">
  <div class="btn-container">
    <button class="btn-outline" (click)="closeDialog('onCancel')">Cancel</button>
    <button class="btn-outline" (click)="onConfirm()" [disabled]="checkFields()">Confirm</button>
  </div>
</div>