<div class="background">
  <div class="title">Account settings</div>
  <div class="login-container" *ngIf="data">
    <div class="login-box">
      <div class="input-container">
        <div class="input-wrapper">
          <i class="bi bi-person-circle"></i>
          <input class="actions" type="text" placeholder="Enter name..." [(ngModel)]="data.name">
        </div>
        <div class="input-wrapper">
          <i class="bi bi-envelope"></i>
          <input class="actions" type="text" placeholder="Enter email..." [(ngModel)]="data.email">
        </div>
        <div class="input-wrapper">
          <i class="bi bi-unlock-fill"></i>
          <input type="text" class="actions password-hidden" placeholder="New password..." [(ngModel)]="data.password"
            autocomplete="off" />
        </div>
        <div class="input-wrapper">
          <div class="blank-icon"></div>
          <input type="text" class="actions password-hidden" [(ngModel)]="data.confirmPassword"
            placeholder="Confirm Password..." autocomplete="off" />
        </div>
        <div class="input-wrapper">
          <div class="blank-icon"></div>
          <button class="actions btn-outline" [disabled]="checkFields()" (click)="onConfirm()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>