.container {
  display: grid;
  grid-template-columns: 1fr;
}

.password-input {
  height: 44px;
  padding: 11px 14px;
  border: 2px solid #04203c;
  border-radius: 5px;
  -webkit-text-security: disc;
  font-family: text-security-disc;
}

.btn-outline {
  padding: 8px 16px;
  border: 2px solid #04203c;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: background-color 0.6s;
  font-size: 20px;
  font-family: NotoSansTC-Medium;
  color: #04203C;
  cursor: pointer;
  width: auto;
  line-height: 25px;
  white-space: nowrap;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}