.title-container {
  height: 48px;
  display: flex;
  justify-content: space-between;

  .btn-outline:hover {
    background-color: rgb(252, 36, 36);
  }

  span {
    color: #97A0B1;
  }
}

.checklist-container {
  width: 100%;
  height: 90%;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .title {
    padding: 10px 20px;
    height: 40px;
    width: 100%;
    font-weight: 500;
    border-bottom: 1px solid black;
    background-color: #97A0B1;
    color: #ffffff;
  }

  .search-bar {
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    border: hidden;
    border-bottom: 2px solid black;
  }

  .search-bar:focus {
    outline: none;
  }

}

.checklist-wrapper {
  overflow: auto;

  .item-wrapper {
    display: inline-flex;
    gap: 16px;

    .minus-icon {
      margin: auto 0;
      font-size: 22px;
      color: rgb(252, 36, 36);
      cursor: pointer;
    }

    .plus-icon {
      margin: auto 0;
      font-size: 22px;
      color: rgb(16, 246, 116);
      cursor: pointer;
    }
  }

  .item-title {
    font-size: 16px;
    font-weight: 500;
  }

  .item-subtitle {
    font-size: 14px;
    color: #97A0B1;
  }

  .checklist-item {
    padding: 10px 20px;
  }

  .checklist-item:hover {
    background-color: rgb(148, 188, 206);
  }

}