<div class="layout-container">
  <app-watchlist-header [watchlists]='watchlists' [currentWatchlist]='currentWatchlist'
    [currentWatchlistId]='currentWatchlistId' [watchlistData]='watchlistData'
    (changeWatchlist)='changeWatchlist($event)' (updateWatchlist)='updateWatchlist($event)'
    (refreshWatchlist)='refreshWatchlist()'>
  </app-watchlist-header>

  <div *ngIf="this.watchlists.length > 0">
    <app-watchlist-grid [watchlistData]=' watchlistData'>
    </app-watchlist-grid>
  </div>
  <div *ngIf="!(this.watchlists.length > 0)">
    Hint: You can create a new watchlist by clicking the plus sign button on the top.
  </div>

</div>