.portfolio-card{
  background-color: rgb(126, 123, 123);
  padding: 15px;
  border-radius: 8px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 0;
}

.settings-icon{
  font-size: 20px;
  margin: auto 0;
  cursor: pointer;
}