<div class="holdings-card">
  <div class="flex-between-container">
    <p>Holdings List</p>
    <i *ngIf="showMoney" class="bi bi-eye-slash-fill eye-slash-icon" (click)="toggleShowMoney()"></i>
    <i *ngIf="!showMoney" class="bi bi-eye-fill eye-slash-icon" (click)="toggleShowMoney()"></i>
  </div>
  <h1 *ngIf="showMoney" class="holdings-total">${{currentTotal | number : '1.2-2'}}</h1>
  <div class="flex-container">
    <p>Daily P&L</p>
    <div [ngClass]="historical.yesterdayChange > 0 ? 'green-text' : 'red-text' " class="value-change-wrapper">
      <div *ngIf="showMoney">
        <span *ngIf="historical.yesterdayChange > 0">+</span>{{historical.yesterdayChange | number : '1.2-2'}}
      </div>
      <div>(<span *ngIf="historical.yesterdayChange > 0">+</span>{{historical.yesterdayMovement * 100 | number :
        '1.2-2'}}%) </div>
    </div>
  </div>
  <div class="flex-container">
    <p>Total P&L</p>
    <div [ngClass]="historical.totalChange > 0 ? 'green-text' : 'red-text' " class="value-change-wrapper">
      <div *ngIf="showMoney">
        <span *ngIf="historical.totalChange > 0">+</span>{{historical.totalChange | number : '1.2-2'}}
      </div>
      <div>(<span *ngIf="historical.totalChange > 0">+</span>{{historical.totalMovement * 100 | number :
        '1.2-2'}}%) </div>
    </div>
  </div>
  <p class="card-date">{{currentTime | date: 'yyyy/MM/dd hh:mm a'}}</p>
</div>