<nav class='navbar-bottom'>
  <div class="nav-bot-wrapper">
    <div class="nav-bot-item" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i
        class="bi bi-house-fill"></i><span>Home</span></div>
    <div class="nav-bot-item" routerLink="watchlist" routerLinkActive="active-link"><i
        class="bi bi-list-stars"></i><span>Watchlist</span></div>
    <div class="nav-bot-item" routerLink="analysis" routerLinkActive="active-link"><i
        class="bi bi-file-earmark-bar-graph-fill"></i><span>Analysis</span></div>
    <div class="nav-bot-item" routerLink="settings" routerLinkActive="active-link"><i
        class="bi bi-gear-fill"></i><span>Settings</span></div>
  </div>
</nav>

<nav class="navbar-left-collapsed" [ngClass]="{'navbar-left-expanded': (toggle$ | async)}">
  <div class="nav-left-wrapper">
    <div>
      <div class="nav-left-item toggle-icon" [ngClass]="{'icon-collapse': (toggle$ | async)}"
        (click)="this.toggle.toggleSideNav()">
        <i class="bi bi-box-arrow-right"></i>
      </div>
      <div *ngIf="(toggle$ | async)" class="toggle-icon expanded-icon">
        <i class="bi bi-box-arrow-left" (click)="this.toggle.toggleSideNav()"></i>
      </div>
      <div class="nav-left-item" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <i class="bi bi-house-fill"></i>
        <span class="nav-text" [ngClass]="{'text-collapse': !(toggle$ | async)}">Home</span>
      </div>
      <div class="nav-left-item" routerLink="watchlist" routerLinkActive="active-link">
        <i class="bi bi-list-stars"></i>
        <span class="nav-text" [ngClass]="{'text-collapse': !(toggle$ | async)}">Watchlist</span>
      </div>
      <div class="nav-left-item" routerLink="portfolio" routerLinkActive="active-link">
        <i class="bi bi-pie-chart-fill"></i>
        <span class="nav-text" [ngClass]="{'text-collapse': !(toggle$ | async)}">Portfolio</span>
      </div>
      <div class="nav-left-item" routerLink="analysis" routerLinkActive="active-link">
        <i class="bi bi-file-earmark-bar-graph-fill"></i>
        <span class="nav-text" [ngClass]="{'text-collapse': !(toggle$ | async)}">Analysis</span>
      </div>
      <div class="nav-left-item" routerLink="settings" routerLinkActive="active-link">
        <i class="bi bi-gear-fill"></i>
        <span class="nav-text" [ngClass]="{'text-collapse': !(toggle$ | async)}">Settings</span>
      </div>
    </div>
    <div class="nav-t95" [ngClass]="{'text-large': (toggle$ | async)}">T95</div>
  </div>
</nav>