// .active-link {
//   font-weight: bold;
// }

//small
@media screen and (max-width: 1023px) {
  .navbar-left-collapsed {
    display: none;
  }

  .navbar-bottom { 
    // position: fixed;
    width: 100%;
    overflow: hidden;
    position: sticky;
    top: 100%;
  }

  .nav-bot-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    border-top: 1px solid rgba(151,151,151,.25);
    height: 70px;
    color: #797989
  }

  .nav-bot-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;

    span {
      margin-top: -6px;
      font-size: 12px;
    }
  }

  .nav-bot-item:hover {
    color: #545c6c
  }
}

//medium
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .navbar-bottom { 
    display: none;
  }
}

//large
@media screen and (min-width: 1365px){
  .navbar-bottom { 
    display: none;
  }
  
  // .navbar-left-collapsed {
  //   position: fixed;
  //   width: 340px;
  //   height: 100vh;
  //   background-color: #bababa;
  // }
}

.navbar-left-collapsed {
  position: fixed;
  width: 70px;
  height: 100vh;
  background-color: #383c54
}

.navbar-left-expanded {
  width: 300px;
}

.nav-left-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  color: #797989
}

.expand{
  margin-left: 6px;
  color: #ffffff;
}

.nav-left-item{
  height: 70px;
  display: flex;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-left-item:hover {
  color: #545c6c
}

.nav-t95{
  margin-bottom: 8px;
  text-align: center;
  color: #ffffff;
}


