<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">T95</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='' routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'menu'" routerLinkActive="active-link">Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active-link">Options</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Indicators</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav class='navbar-bottom'>
  <div class="nav-bot-wrapper">
    <div class="nav-bot-item" routerLink=""><i class="bi bi-house-fill"></i><span>Home</span></div>
    <div class="nav-bot-item" routerLink="menu"><i class="bi bi-list-stars"></i><span>Watchlist</span></div>
    <div class="nav-bot-item" routerLink="about"><i class="bi bi-pie-chart-fill"></i><span>Portfolio</span></div>
    <div class="nav-bot-item" routerLink="contact"><i
        class="bi bi-file-earmark-bar-graph-fill"></i><span>Analysis</span></div>
  </div>
</nav>

<nav class="navbar-left-collapsed"></nav>