<div class="layout-container">
  <app-price-card [stockData]="stockData"></app-price-card>
  <app-profile-card></app-profile-card>
  <!-- total wealth history chart-->
  <ngx-charts-line-chart [view]="view" [results]="historyData" [curve]="curve" [gradient]="gradient" [xAxis]="showXAxis"
    [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
  </ngx-charts-line-chart>
  <app-holdings-card [(showMoney)]="showMoney" [currentTotal]="currentTotal"></app-holdings-card>
  <app-portfolio-card [showMoney]="showMoney" [portfolioData]="portfolioData"></app-portfolio-card>
</div>