<div class="layout-container">
  <app-price-card [stockData]="stockData"></app-price-card>
  <div class="grid-container">
    <div>
      <app-profile-card></app-profile-card>
      <!-- total wealth history chart-->
      <div class="chart-container">
        <ngx-charts-line-chart [results]="historyData" [curve]="curve" [gradient]="gradient" [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel">
        </ngx-charts-line-chart>
      </div>
      <app-holdings-card [(showMoney)]="showMoney" [currentTotal]="currentTotal"></app-holdings-card>
    </div>
    <div>
      <app-portfolio-card [showMoney]="showMoney" [portfolioData]="portfolioData"></app-portfolio-card>
    </div>
  </div>
</div>