<div class="layout-container">
  <div>WWW note1: FE finish dialog for new and edit position</div>
  <div>HHH note2: Finish Sample UI + RWD</div>
  <div>WWW note3: FE finish function and API for new and edit position</div>
  <div>WWW note4: BE, build API for close position, add close date and change quantity to 0</div>
  <div class="title">{{portfolioData.name}}</div>
  <app-holdings-card [portfolioData]="portfolioData" (onUpdatePortfolio)="refreshPage()"></app-holdings-card>
  <div *ngIf="dataLoaded">
    <ngx-charts-pie-chart [results]="allPositions" [legend]="true" [legendTitle]="'Allocations'" [view]="[1000,300]"
      [labels]="true">
    </ngx-charts-pie-chart>
  </div>
  <!-- total wealth history chart-->
  <ngx-charts-line-chart [view]="view" [results]="historyData" [curve]="curve" [gradient]="gradient" [xAxis]="showXAxis"
    [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
  </ngx-charts-line-chart>
  <button class="btn-outline-dark" (click)="onAddPosition()">Add</button>
  <div id="gridContainer" class="grid-wrapper">
    <ag-grid-angular #agGrid class="ag-theme-alpine grid-container" [rowData]="rowData" [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>