.grid-wrapper {
  width: 100%;
}

.title {
  margin-top: 5px;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 800;
}

.btn-outline-dark {
  margin-bottom: 5px;
}

//line chart
.line-chart-container {
  width: 100%;
  // height: 30vh;
  display: flex;
  background-color: rgb(126, 123, 123);
  padding: 5px 0;
  margin-bottom: 5px;
  border-radius: 8px;
}

//pie chart
.pie-chart-container {
  width: 100%;
  height: 211px;
  display: grid;
  background-color: rgb(126, 123, 123);
  margin-bottom: 5px;
  border-radius: 8px;
}

//ngx-charts
::ng-deep .ngx-charts .gridline-path {
  stroke: #97a0b1 !important;
}

//RWD
.grid-container {
  display: grid;
  grid-template-columns: 1fr;

  h3 {
    margin-left: 20px;
    position: absolute;
    color: #ffffff;
  }
}

@media (min-width: 800px) {
  .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}