.grid-wrapper {
  width: 100%;
}

.grid-container {
  height: calc(100vh - 70px - 120px);
  width: 100%;
  overflow: auto;
}

.title {
  margin-top: 5px;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 800;
}