<div class="layout-container">
  <div class="title">{{portfolioData.name}}</div>
  <div class="grid-container">
    <!-- portfolio card -->
    <app-holdings-card [portfolioData]="portfolioData" (onUpdatePortfolio)="refreshPage()"></app-holdings-card>
    <!-- pie chart -->
    <div *ngIf="dataLoaded" class="pie-chart-container">
      <h3>Positions</h3>
      <ngx-charts-pie-chart [results]="allPositions" [labels]="true">
      </ngx-charts-pie-chart>
    </div>
  </div>
  <!-- total wealth history chart-->
  <div class="line-chart-container">
    <ngx-charts-line-chart [results]="historyData" [curve]="curve" [gradient]="gradient" [xAxis]="showXAxis"
      [yAxis]="showYAxis">
    </ngx-charts-line-chart>
  </div>
  <button class="btn-outline-dark" (click)="onAddPosition()">Add Position</button>
  <div id="gridContainer" class="grid-wrapper">
    <ag-grid-angular #agGrid class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)" domLayout='autoHeight'>
    </ag-grid-angular>
  </div>
</div>