<div class="dialog-container">
  <div class="flex-between-container">
    <h1 class="title">Edit</h1>
    <button class="btn-danger" (click)="onClosePosition()">Close Position</button>
  </div>
  <input class="date-outline" type="date" [(ngModel)]="position.openDate">
  <!-- option select with search -->
  <div class="input-wrapper">
    <div class="input-title">Symbol: </div>
    <input class="actions" type="text" [value]="position.name" disabled>
  </div>
  <div class="input-wrapper">
    <div class="input-title">Qty: </div>
    <input class="actions" type="number" placeholder="Enter quantity...." [(ngModel)]="position.quantity">
  </div>
  <div class="input-wrapper">
    <div class="input-title">Cost:</div>
    <input class="actions" type="number" placeholder="Enter cost...." [(ngModel)]="position.costBasis">
  </div>
  <div class="btn-container">
    <button class="btn-danger" (click)="closeDialog('onCancel')">Cancel</button>
    <button class="btn-outline" (click)="onConfirm()" [disabled]="checkFields()">Confirm</button>
  </div>
</div>