<div>
  <h1 class="title">Watchlists</h1>
  <div class="watchlist-item-container">
    <div *ngFor="let item of watchlists">
      <div class="watchlist-item" [ngClass]="{'dark-background': currentWatchlist === item}" (click)='onChange(item)'>
        {{item}}
      </div>
    </div>
    <div class="watchlist-item add-icon">+</div>
  </div>
  <div class="table-header">
    <div class="w-120px">Symbol</div>
    <div class="w-grow">Name</div>
    <div class="w-120px">Price</div>
    <div class="w-120px">Movement</div>
  </div>
</div>



<!-- test flex -->

<div>
  (name auto) (symbol RWD) (price 100px) (movement 100px)
</div>


<div *ngFor="let item of watchlistData">
  <p>{{item.symbol}}</p>
  <p>{{item.name}}</p>
  <p>{{item.price}}</p>
  <p>{{item.movementPrice}}</p>
  <p>{{item.movementPercentage}}</p>
  <p>------------</p>
</div>