.title {
  padding-left: 10px;
}

.watchlist-item-container {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 15px;
}

.watchlist-item{
  border: 1.5px solid #c4c4cc;
  border-radius: 35px;
  padding: 10px 16px;
  min-width: 35px;
  height: 43px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #5e5e70;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.watchlist-item:hover {
  border-color: #5e5e70;
  transition: 0.5s ease-in-out;
}

.dark-background {
  color: #ffffff;
  background-color: #5e5e70;
}

.add-icon{
  font-size: 24px;
  font-weight: 400;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}