<h1>Front end To do:</h1>
<p>home page accordion dropped UI</p>
<p>Settings page UI</p>
<p>Add portfolio dialog UI</p>
<p>Edit portfolio dialog UI</p>
<p>Add position dialog UI</p>
<p>Edit position dialog UI</p>
<p>Close position dialog UI -> calculate amount, ask add to cash?</p>
<h1>----</h1>
<h1>Back end To do:</h1>
<p>Add data for historical chart</p>
<p>schedule executor for recording daily value to db</p>
<p>Delete portfolio, all mapped fk deleted too</p>
<h1>----</h1>
<h1>Other To do:</h1>
<p>List tech used in FE, BE, CICD</p>