<div class="layout-container">
  <br>
  <h1>Tech Stack Used In Project T95:</h1>
  <hr>
  <h1>Front-End Tech:</h1>
  <ul>
    <li>Angular/HTML/CSS/TypeScript</li>
    <li>Responsive Web Design (RWD)</li>
    <li>Modular Architecture</li>
    <li>Jasmine Unit Tests</li>
    <li>Websockets</li>
    <li>Rxjs</li>
    <li>Routes Authentication Gaurds</li>
    <li>JWT Interceptors</li>
    <li>Directives</li>
    <li>Lazy Loading</li>
    <li>JWT token and Sessions</li>
    <li>Ngx-Chart</li>
    <li>String Validation Utils</li>
    <li>Two-way Property and Event Binding</li>
  </ul>
  <hr>
  <h1>Back-End Tech:</h1>
  <ul>
    <li>Java/Spring Boot</li>
    <li>STOMP Websockets Protocol</li>
    <li>J-Unit tests / Mockito</li>
    <li>MVC Architecture</li>
    <li>JWT Authentication</li>
    <li>Scheduled Executors</li>
    <li>SHA-256</li>
    <li>JPA</li>
    <li>PostgreSQL</li>
    <li>RESTful API</li>
  </ul>
  <hr>
  <h1>Other Tech:</h1>
  <ul>
    <li>Github Actions / CICD</li>
    <li>AWS S3</li>
    <li>AWS RDS</li>
    <li>AWS Elastic Beanstalk</li>
    <li>Connect to AWS Linux instances using SSH</li>
    <li>Swagger</li><a
      href="http://t95springbootapp-env.eba-rbpirpum.ap-southeast-1.elasticbeanstalk.com/swagger-ui.html#/">T95 Swagger
      API Link</a>
    <li>ERD</li>
    <img style="max-width: 100%;" src="../../../../../assets/img/t95_ERD.jpg" alt="">
  </ul>
  <br>
  <br>
</div>