// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $t95-primary: mat.define-palette(mat.$indigo-palette);
// $t95-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $t95-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $t95-theme: mat.define-light-theme((
//   color: (
//     primary: $t95-primary,
//     accent: $t95-accent,
//     warn: $t95-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($t95-theme);

/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import "~@ng-select/ng-select/themes/default.theme.css";


* {
  padding: 0;
  margin: 0;
}

.ag-theme-alpine {
  --ag-foreground-color: #ffffff;
  --ag-background-color: rgb(126, 123, 123);
  --ag-header-foreground-color: #ffffff;
  --ag-header-background-color: #383c54;
  --ag-odd-row-background-color: rgb(0, 0, 0, 0.12);
  --ag-header-column-resize-handle-color: #ffffff;
}

.mat-typography p,
.mat-typography span {
  padding: 0;
  margin: 0;
}

.mat-dialog-container {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

ol,
ul {
  list-style: none;
}

input {
  -webkit-appearance: none;
  box-shadow: none !important;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



//common display styles
.flex-between-container {
  display: flex;
  justify-content: space-between;
}

.position-relative {
  position: relative;
}

//common styles
.layout-container {
  padding: 5px;
}

@media screen and (min-width: 1024px) {

  //common styles
  .layout-container {
    height: 100vh;
    overflow: auto;
  }
}

.red-text {
  color: rgb(218, 132, 132);
}

.green-text {
  color: rgb(112, 223, 149);
}

//common buttons
.btn-outline {
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 20px;
  background-color: #2EE59D;
  color: #000000;
  height: 38px;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(46, 229, 157, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-5px);
}

.btn-danger {
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 24px;
  height: 38px;
  color: #ffffff;
  background-color: rgba(255, 39, 39, 0.4);
  width: fit-content;
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(255, 39, 39, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger:hover {
  box-shadow: 0px 15px 20px rgba(255, 39, 39, 0.4);
  transform: translateY(-5px);
}

.btn-outline-dark {
  padding: 8px 24px;
  border: 2px solid #04203c;
  border-radius: 20px;
  background-color: #5E5E70;
  transition: background-color 0.6s;
  font-size: 20px;
  font-family: NotoSansTC-Medium;
  color: #ffffff;
  cursor: pointer;
  width: auto;
  line-height: 25px;
  white-space: nowrap;
}

.btn-outline-dark:hover {
  background-color: rgb(91, 91, 91);
  color: #ffffff;
}

.btn-container {
  display: inline-flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 20px;
}

//input
.input-outline {
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
}

.input-outline:focus {
  outline: none;
}

//error message
.error-message {
  color: red;
}

//dialog container
.dialog-container {
  height: 100%;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #383c54 !important;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

//input
.input-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 20px;

  i {
    font-size: 38px;
    margin: auto;
    margin-right: 16px;
  }

  .blank-icon {
    min-width: 38px;
    min-height: 38px;
    margin: auto;
    margin-right: 16px;
  }

  .actions {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 12px 18px;
    width: 100%;
  }

  .btn-actions {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #383c54;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 8px 20px rgba(46, 229, 157, 0.4);
    cursor: pointer;
  }

  .btn-actions:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-5px);
  }

  .input-title {
    font-size: 20px;
    margin: auto;
    margin-right: 16px;
  }
}