<div class="dialog-container">
  <div class="flex-between-container">
    <h1 class="title">Edit</h1>
    <div class="btn-container">
      <div class="btn-danger" (click)="onDelete()">Delete</div>
    </div>
  </div>
  <div class="input-wrapper">
    <div class="input-title">Name:</div>
    <input class="actions" type="text" placeholder="Enter name..." [(ngModel)]="data.name">
  </div>
  <div class="input-wrapper">
    <div class="input-title">Cash:</div>
    <input class="actions" type="number" placeholder="Enter cash..." [(ngModel)]="data.cash">
  </div>
  <div class="btn-container">
    <button class="btn-danger" (click)="closeDialog('onCancel')">Cancel</button>
    <button class="btn-outline" (click)="onConfirm()" [disabled]="checkFields()">Confirm</button>
  </div>
</div>